---
layout: archive
title: "Other"
permalink: /other/
author_profile: true
redirect_from:
  - /resume
---
<h2>Conferences attended</h2><hr />
<ul>
	<li><a href="url">Young Geometric Group Theory XII</a><em>Bristol, UK, 8th-12th April 2024 </em> </li>

<h2> Organisation</h2><hr />
{% if site.organisation_category %}
  {% for category in site.organisation_category  %}
    {% assign title_shown = false %}
    {% for post in site.organisation reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
       <em> <h3>{{ category[1].title }}</h3> </em>
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.organisation reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} 
  
<h2> Teaching</h2><hr />
 I worked as a learning support assistant for mathematics in Bristol Brunel Academy between 2023 and 2025.
