---
layout: archive
title: "Other"
permalink: /other/
author_profile: true
redirect_from:
  - /resume
---
><h2> Organisation</h2><hr />
{% if site.organisation_category %}
  {% for category in site.organisation_category  %}
    {% assign title_shown = false %}
    {% for post in site.organisation reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
       <em> <h3>{{ category[1].title }}</h3> </em>
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.organisation reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} <!-->

<h3> Seminars </h3>
I was one of the student organisers of the <a href="https://www.agq-cdt.org/fox-hedgehog-seminar/">Fox and Hedgehog seminar series</a> between 2025-2026.
<h3> Reading groups </h3>
I am currently organising a <a href="https://www.agq-cdt.org/training_25-26/cohort-reading-groups/quasi-isometric-rigidity/">reading group on quasi-isometric rigidity</a>. I have previously organised reading groups on <a href="https://www.agq-cdt.org/training_25-26/cohort-reading-groups/geometric-group-theory-reading-group/">geometric group theory</a> and <a href="https://www.agq-cdt.org/training_25-26/cohort-reading-groups/random-groups-reading-group/">random groups</a>, along with <a href="https://taliashlomovich.github.io/">Talia Shlomovich</a>. 

<h2> Teaching</h2><hr />
 I worked as a learning support assistant for mathematics in Bristol Brunel Academy between 2023 and 2025.

 <h2>Conferences attended</h2><hr />
<ul>
	<li><a href="https://www.agq-cdt.org/events/groups-dynamics-operator-algebras-2026/">Groups, Dynamics, and Operator Algebras</a> <em>Glasgow, UK, 24th-28th August 2026 </em> </li>
	<li><a href="https://wimregensburg.app.uni-regensburg.de/conference.html">GAP Days 2</a> <em>Regensburg, Germany, 27th-29th July 2026 </em> </li>
	<li><a href="https://sites.google.com/view/xxv-escuela-santalo-2026/home">XXV School of Mathematics "Lluis Santaló":Geometric Group Theory</a> <em>Santander, Spain, 29th June-3rd July 2026 </em> </li>
	<li><a href="https://sites.google.com/view/jrr-sep-and-morse/home">Junior Research Retreat - Separability and Morseness</a> <em>Bonn, Germany, 23rd-27th February 2026 </em> </li>
	<li><a href="https://sites.google.com/view/leary60">Modern Methods in Infinite Groups</a> <em>Bristol, UK, 12th-14th June 2024 </em> </li>
	<li><a href="https://sites.google.com/view/yggt2024">Young Geometric Group Theory XII</a> <em>Bristol, UK, 8th-12th April 2024 </em> </li>
</ul>      

